<div class="ui relaxed divided list" style="padding: 20px;">
  <% @notifications.each do |notification| %>
    <div class="item">
      <i class="large github middle aligned icon"></i>
      <div class="content">
        <a class="header"><%= notification.actor.username %></a>
        <div class="description"><%= time_ago_in_words(notification.created_at) %></div>
        <%= link_to "#{notification.action}", notification.path %>
      </div>
    </div>
  <% end %>
  <%= paginate @notifications %>
</div>