<div class="ui container">
  <br/>
  <div class="ui segment">
  <h3>Forms Project</h3>
  <form class="ui form">
    <div class="field">
      <label>Project Name</label>
      <input type="text" name="name" placeholder="First Name">
    </div>
    <div class="field">
      <label>Description</label>
      <textarea name="comments"></textarea>
    </div>
    <div class="field">
      <label>Client Name</label>
      <input type="text" name="contact" placeholder="Last Name">
    </div>
    <div class="field">
      <label>Contact</label>
      <input type="text" name="contact" placeholder="Last Name">
    </div>
     <div class="field">
      <label>Address</label>
      <textarea name="comments"></textarea>
    </div>
    <div class="ui error message"></div>
    <button id="form_button" class="ui button" type="submit">Submit</button>
</form>
  </div>
</div>