<%= form_for (@role), html: {class: "ui form", id: "form_role"} do |form| %>
  <div class="field">
    <label>Role Name</label>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <%= form.check_box :is_active, tabindex: "0", class: "hidden" %>
      <label>Is Active ?</label>
    </div>
  </div>
  <%= form.button class: "ui button"%>
<% end %>