<table class="ui celled table form" id="table_roles">
  <thead>
    <tr><th>Name</th>
    <th>Is Active ?</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
  
  <%= render '/roles/form' %>

  <% @roles.each_with_index do |role, index| %>
      <%= render 'roles/table_roles', role: role %>
  <% end %>

  </tbody>
</table>

<script type="text/javascript">
	$(function(){
		$('.ui.checkbox')
		  .checkbox()
		;
	})
</script>