<table class="ui celled table form" id="table_roles">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Is Active ?</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  
  <%#= render '/roles/form' %>

  <% @roles.each_with_index do |role, index| %>
      <%= render 'roles/table_roles', role: role %>
  <% end %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="5">
          <%= link_to new_role_path do %>
            <i class="add square icon"></i>Add Role
          <% end %>
      </th>
    </tr>
  </tfoot>
</table>

<script type="text/javascript">
	$(function(){
		$('.ui.checkbox')
		  .checkbox()
		;
	})
</script>