body {
    font-family: "Lato";
    margin: 0;
    padding: 0;
}

#myKanban {
    overflow-x: auto;
    padding: 20px 0;
}

.success {
    background: #2ac06d;
    color: white;
    text-align: center;
}

.info {
    background: #4A9FF9;
    color: white;
    text-align: center;
}

.warning {
    background: #f9944a;
    color: white;
    text-align: center;
}

.default {
	background: #ffcb65;
	color: white;
  text-align: center;
}
.add-board{
	position: absolute;
}
.error {
    background: #FB7D44;
}
.kanban-item{
	opacity: 1;
  transform: scale(1);
}